<a href="https://colab.research.google.com/github/La2Moon/TUGAS-BU-SYARAH-COY/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [5]:
import pandas as pd
import numpy as np

TUGAS PERTEMUAN 3 PART 1

In [ ]:
import pandas as pd

# Define the data
data = {
    'Name': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'Gender': ['Laki-laki', 'Perempuan', 'Perempuan', 'Laki-laki'],
    'No Telepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
    'Tugas': [80, 89, 76, 80],
    'UTS': [88, 78, 90, 81],
    'UAS': [90, 89, 85, 82]}


# Create the dataframe
df = pd.DataFrame(data)


# Display the dataframe
print(df)

TUGAS PERTEMUAN 3 PART 2

In [ ]:
# Define the data
data = {'Name': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
        'Gender': ['Laki-laki', 'Perempuan', 'Perempuan', 'Laki-laki'],
        'No Telepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
        'Tugas': [80, 89, 76, 80],
        'UTS': [88, 78, 90, 81],
        'UAS': [90, 89, 85, 82]}

# Create the DataFrame
df = pd.DataFrame(data)

# Calculate the final grade
df['Nilai Akhir'] = (0.3 * df['Tugas'] + 0.3 * df['UTS'] + 0.4 * df['UAS']).round(2)

# Display the DataFrame
print(df)

In [21]:
#series
number_list = pd.Series([1,2,3,4,5,6])
#DataFrame
matrix_list = pd.DataFrame([[1,2,3],
                           ['a','b','c'],
                           [3,4,5],
                           ['d',4,6]])
#method.info
print("[1] methond.info()")
print(matrix_list.info())
#[2] atribute.shape
print("\n[2] attribute .shape")
print("     Shape dari number_list:", number_list.shape)
print("     Shape dari number_list:", number_list.shape)
#[3] attrubute .dtypes
print("\n[3] attribute .dtypes")
print("     Tipe data number_list:", number_list.dtypes)
print("     Tipe data number_list:", number_list.dtypes)
#[4] attribute .astypes
print ("\n[4] method ,astype()")
print ("    konversi number_list ke str:", number_list.astype("str"))
print ("    koversi matrix_list ke str:", matrix_list.astype("str"))

[1] methond.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes
None

[2] attribute .shape
     Shape dari number_list: (6,)
     Shape dari number_list: (6,)

[3] attribute .dtypes
     Tipe data number_list: int64
     Tipe data number_list: int64

[4] method ,astype()
    konversi number_list ke str: 0    1
1    2
2    3
3    4
4    5
5    6
dtype: object
    koversi matrix_list ke str:    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6